;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

;-------------------------
; Catppuccin Mocha Palette
; Maintainer: justTOBBI
;--------------------------

[colors]
 base = #1e1e2e
 mantle = #181825
 crust = #11111b

 text = #cdd6f4
 subtext0 = #a6adc8
 subtext1 = #bac2de

 surface0 = #313244
 surface1 = #45475a
 surface2 = #585b70
 
 overlay0 = #6c7086
 overlay1 = #7f849c
 overlay2 = #9399b2
 

 blue = #89b4fa
 lavender = #b4befe
 sapphire = #74c7ec
 sky = #89dceb
 teal = #94e2d5
 green = #a6e3a1
 yellow = #f9e2af
 peach = #fab387
 maroon = #eba0ac
 red = #f38ba8
 mauve = #cba6f7
 pink = #f5c2e7
 flamingo = #f2cdcd
 rosewater = #f5e0dc

 transparent = #FF00000

[bar/main]
width = 100%
height = 15pt
; radius = 0
; dpi = 96

bottom = true

background = ${colors.base}
foreground = ${colors.text}RAM

line-size = 3pt

border-size = 0pt
border-color = #00000000

padding-left = 0
padding-right = 1

module-margin = 1

separator = |
separator-foreground = ${colors.subtext1}

font-0 = FiraCode Nerd Font:size=10;1

; modules-left = xworkspaces xwindow
; modules-right = filesystem pulseaudio xkeyboard memory cpu wlan eth date

modules-left = xworkspaces window
; modules-right = cpu memory filesystem eth filesystem pulseaudio date
modules-right = cpu memory filesystem ethzero pulseaudio date
cursor-click = pointer
cursor-scroll = ns-resize

enable-ipc = true

; tray-position = right

; wm-restack = generic
; wm-restack = bspwm
; wm-restack = i3

; override-redirect = true

[module/xworkspaces]
type = internal/xworkspaces
enable-click = false
label-active-foreground = ${colors.teal}
; label-separator = /


[module/window]
type = internal/xwindow
format = <label>

format-foreground = ${colors.lavender}

label =  %title%
label-maxlen = 40

[module/cpu]
type = internal/cpu
interval = 1.5

warn-percentage = 80
format = <label>
format-foreground = ${colors.maroon}
label =  %percentage%%

[module/memory]
type = internal/memory
interval = 2

format = <label>
label =  %gb_used%/%gb_free%
label-foreground = ${colors.green}

[module/filesystem]
type = internal/fs

mount-0 = /
mount-1 = /mnt/disk

interval = 1
spacing = 2

format-mounted = <label-mounted>
format-unmounted = <label-unmounted>

format-mounted-foreground = ${colors.sapphire}
format-unmounted-foreground = ${colors.red}

label-mounted = %mountpoint%: %percentage_used%
label-unmounted = %mountpoint%: unmounted

[module/ethzero]
type = internal/network
interface = eth0
interface-type = wired
interval = 1

format-connected = <label-connected>
format-disconnected = <label-disconnected>

label-connected =  %ifname%: RX %downspeed% TX %upspeed%
label-disconnected =  %ifname%: DISCONNECTED

format-connected-foreground = ${colors.blue}
format-disconnected-foreground = ${colors.red}

[module/pulseaudio]
type = internal/pulseaudio
interval = 1

format-volume = <ramp-volume> <label-volume>

label-muted = MUTE
label-muted-foreground = ${colors.red}

ramp-volume-0 = 奄
ramp-volume-1 = 奔
ramp-volume-2 = 墳


[module/date]
type = internal/date
interval = 1

date = %d-%m-%Y
time = %I:%M %p

format = <label>
label =  %date% %time%

label-foreground = ${colors.mauve}

; vim:ft=dosini
